
<md-toolbar color="primary">{{title}}</md-toolbar>
<md-sidenav-container class="main">
  <md-sidenav #sidenav mode="side" opened="true">
    <md-nav-list>
      <md-list-item routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['goals']">My Goal</a></md-list-item>
      <md-list-item routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['goals']">All Goals</a></md-list-item>
    </md-nav-list>
  </md-sidenav>
  <router-outlet></router-outlet>
</md-sidenav-container>
